In [1]:
import scrape
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium import webdriver
import pandas as pd

In [2]:
class Parent:
    def twice(self):
        self.message()
        self.message()
        
    def message(self):
        print("parent says hi")
        
class Child(Parent):
    def message(self):
        print("child says hi")
        
c = Child()
c.twice()

child says hi
child says hi

In [3]:
"""
g = GraphSearcher()
g.dfs_search("A")
"""

df = pd.DataFrame([
    [0,1,0,1],
    [0,0,1,0],
    [0,0,0,1],
    [0,0,1,0],
], index=["A", "B", "C", "D"], columns=["A", "B", "C", "D"])
df

   A  B  C  D
A  0  1  0  1
B  0  0  1  0
C  0  0  0  1
D  0  0  1  0

In [4]:
for node, has_edge in df.loc["B"].items():
    if has_edge==1:
        print(node)

C

In [5]:
m = scrape.MatrixSearcher(df)
m.dfs_search("A")
m.order

['A', 'B', 'C', 'D']

In [6]:
m.bfs_search("A")
m.order

['A', 'B', 'D', 'C']

In [7]:
f = scrape.FileSearcher()
print(f.visit_and_get_children("1.txt"), f.order, f.concat_order())

['2.txt', '4.txt'] ['M'] M

In [8]:
import os
# kill previous chrome instance if still around (to conserve memory)
os.system("pkill -f -9 chromium")

options = Options()
options.headless = True
service = Service(executable_path="chromium.chromedriver")
driver = webdriver.Chrome(options=options, service=service)

# TODO: use IP address of your VM
start_url = "http://34.171.149.230:5000/Node_1.html"

s = scrape.WebSearcher(driver)
print(s.visit_and_get_children(start_url))
s = scrape.WebSearcher(driver)
s.bfs_search(start_url)

travellog = s.table()
print(travellog)

print(scrape.reveal_secrets(driver, "http://34.171.149.230:5000", travellog))

driver.close()

['http://34.171.149.230:5000/Node_2.html', 'http://34.171.149.230:5000/Node_4.html']
    clue   latitude   longitude                          description
0      1  43.089034  -89.416128              Picnic Point in Madison
1      7  38.105507  126.910613               Silver Beach in Hawaii
2      1  65.044901  -16.712836  Shore of a Volcanic Lake in Iceland
3      3  48.860945    2.335773                  The Louvre in Paris
4      8  51.180315   -1.829659                 Stonehenge in the UK
5      5  37.434183 -122.321990      Redwood forest in San Francisco
6      2  27.987586   86.925002                 Mt. Everest in Nepal
7      4  34.134117 -118.321495                 Hollywood Sign in LA
8      5  38.655100   90.061800                 Cahokia Mounds in IL
9      9  40.748400   73.985700          Empire State Building in NY
10     4  29.975300   31.137600        Great Sphinx of Giza in Egypt
11     1  47.557600   10.749800     Neuschwanstein Castle in Germany
12     5  38.624700   90.184800        The Gateway Arch in St. Louis
13     3  30.328500   35.444400                      Petra in Jordan
14     2  41.480800   82.683400                    Cedar Point in OH
15     6  43.070010  -89.409450          Quick Trip on Monroe Street
BASCOM HALL